asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-httpxforwardedfor
djangorestframework
djangorestframework-jsonapi
docopt
idna
imutils
inflection
IPy
mysqlclient
numpy
opencv-python
pipreqs
pytz
requests
sqlparse
tzdata
urllib3
whitenoise
yarg