<!DOCTYPE html>
<html>
<head>
   {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'donation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'poojaevents.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <style>

    body{
      background-color: orange;
    }
    
    .mb-3 .required:after{
      content: *;
      color: red;
    }
    table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
  </style>
</head>
<div id="head" style="background-color:orange;">
  <center id="cen"><img id ="first"src="{% static 'images\ganesh image 2.jpg' %}"><img id ="sec"src="{% static 'images\seetha.jpg' %}"></center>
<center><h1 id="h">sree seetha rama vinayaka utsava samithi</h1></center>
  </div>
</head>
<body>
  
<header id ="header" style="background-color:orange;">
  

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Disclaimer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'donate' %}">Donate Chandha</a>
          </li>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'pooj' %}">poojaevents</a></li>
              <li><a class="dropdown-item" href="{% url 'cul' %}">Cultural events</a></li>
              
            </ul>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'live' %}">Live</a>
          </li> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}">GotramList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pooja' %}">Book Pooja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid" id="somthing">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
         <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="myfunction('2022-08-31')" formmethod="post">2022-08-31</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-01')"formmethod="post">2022-09-01</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-03')"formmethod="post">2022-09-03</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-04')"formmethod="post">2022-09-04</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-05')"formmethod="post">2022-09-05</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-06')"formmethod="post">2022-09-06</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-07')"formmethod="post">2022-09-07</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-08')"formmethod="post">2022-09-08</button></li>
            <li><button class="dropdown-item" onclick="myfunction('2022-09-09')"formmethod="post">2022-09-09</button></li>
          </ul>
      </div>
<div style="overflow-x:auto;"id="s">
  <table id ="hi">
    <thead>
    <tr>
      <th>Gothram</th>
      <th>SurName</th>
      <th>Name</th>
      <th>SpouseName</th>
      <th>Date</th>
      <th>Time</th>
      
    </tr>
    </thead>
    <tbody>
      
       
      {% for i in list%}
      


    <tr>
      <td>{{i.Gotram}}</td>
      <td>{{i.SurName}}</td>
      <td>{{i.Name}}</td>
      <td>{{i.SpouseName}}</td>
      <td>{{i.Date}}</td>
      <td>{{i.Time}}</td>
      
    </tr>
    {% endfor %}
  
    
  </table>

</div>
<script type="text/javascript">
  function myfunction(v) {
   
   document.getElementById("s").style.display = "block";// body...
  }
  function closefunction(){
    document.getElementById("s").style.display = "None";// body...
  }
  

</script>
</body>
</html>